.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 742px;
  height: 90px;
  margin: 30px auto;
  gap: 20px;
  margin-bottom:20px ;
}


.filters button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 6px solid #ffffff;  
  background: #dfe9df;       
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  outline: none;
   position: relative;
  
}


.filters button img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.filters .active {
  background: #4a8f6a;    
  border-color: white;     
}


@media (max-width: 750px) {
  .filters {
    width: 100%;
    overflow-x: auto;
    gap: 16px;
    padding: 0 10px;
  }

  .filters::-webkit-scrollbar {
    display: none;
  }
}