.header {
  width: 100%;
max-width: 1440px; 
margin: 0 auto; 

}

.header-top {
  background: #373636;
  color: #D9D9D9;
  padding: 6px 20px;
  width: 100%;             
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;       
}

.header-top span {
  width: 358px;
  height: 28px;
  position: absolute;
  top: 20px;
  left: 541px;
  font-size: 14px;
}

.top-btn {
  background: #4a6e42;
  color: #fff;
  border: none;

  width: 355px;
  height: 51px;
  padding: 24px;
  border-radius: 16px;

  position: absolute; 
  top: 8px;                  
  left: 985px;
  

  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

 
}
.top-btn p {
  margin: 0;
   font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;

}
.phone-icon {
  width: 21px;
  height: 21px;
}



.header-main {
  width: 100%;
  /* height: 146px; */
  background: #FFF7E2;
  margin: auto;
  position: relative;
  margin: auto;

  min-height: 146px;  
  height: auto;       
  padding-bottom: 0;
  margin-bottom: 0;
}



.phone-box {
  width: 186px;
  height: 32px;
  display: flex;
  gap: 4px;
  position: absolute;
  top: 32px;
  left: 20px;
  align-items: center;
}

.phone-box img {
  width: 21px;
  height: 21px;
}

.phone-text {
  font-size: 20px;
  font-family: "DM Sans";
  color: #3A643C;
}



.logo {
  width: 208px;
  height: 40px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 6px;

  position: absolute;
  top: 22px;     
  left: 587px;    
}



.nav-links {
  width: 688px;
  height: 30px;
  position: absolute;
  top: 99px;
  left: 376px;

  display: flex;
  gap: 40px;
}

.nav-links a {
  font-size: 18px;
  font-weight: 500;
  color: #3A643C;
  text-decoration: none;
}



.nav-icons {
  width: 256px;
  height: 50px;
  position: absolute;
  top: 79px;
  left: 1111px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons img {
  width: 36px;
  height: 36px;
}
