.herb-title {
 font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.herb-icon {
   width: 20px;
  height: 20px;
}



.herb-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 20px;
}

.herb-card {
  background: #FDEAD2;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
    height: 94px;
    width: 293px;
}

.herb-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.text-block h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.text-block p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: #555;
  line-height: 1.3;
}

.arrow {
  margin-left: auto;
  font-size: 22px;
  color: #2f6f3a;
  font-weight: bold;
}
