.home {
  width: 100%;
max-width: 1440px;
margin: 0 auto;
 background: #FFF7E2;


 
}



.store-search-wrapper {
  margin: 0;
  padding: 0;
}



.product-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 20px;
   padding: 30px;
  
}


.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;

  width: 191px;           
  margin-left: 98px;     
  margin-bottom: 20px;    
}



.product-wrapper {
  position: relative;
  width: 100%;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  padding: 0;
  margin: 0 auto;
  width: 1127.333px;  
  box-sizing: border-box;
  justify-content: center;
 
}



.next-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 20;
}


@media (max-width: 600px) {

  
  .product-grid {
    display: flex;
    overflow-x: auto;
    gap: 16px;

    margin: 20px;
    padding: 10px 0;
    padding-bottom: 20px;

    scroll-snap-type: x mandatory;
  }

 
  .product-card {
    min-width: 250px;
    scroll-snap-align: start;
  }

  
  .section-title {
    position: static;
    width: 100%;
    text-align: left;       
    margin: 10px 20px;
  }

  
  .next-arrow {
    display: none;
  }
}
