.highlights-wrapper {
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;
}

.highlights-title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.hi-icon {
  width: 20px;
  height: 20px;
}

.highlights-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 18px;
  width: 100%;
  justify-items: center;  
}

.highlight-card {
  width: 149px;
  height: 204px;
  background: #FDEAD2;
  border-radius: 12px;
  padding: 0;             
  position: relative;    
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-card p {
  position: absolute;
  width: 132px;
  height: 40px;

  left: 12px;
  bottom: 12px;          
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;

  color: #282828;
}
