.store-section {
  width: 100%;
  height: 202px;
  background: url("../assets/search-img.png") no-repeat center/cover;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  
}

.store-title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}


.search-row {
  display: flex;
  align-items: center;
  gap: 12px;
}


.search-box {
  width: 520px;
  height: 48px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.bag-btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.bag-btn img {
  width: 22px;
  height: 22px;
}
